/* .App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  height: 300px;
  position: relative;
} */
/* .graph-container {
  height: 300px;
  position: absolute;
  bottom: -1000px;
  width: 100%;
  z-index: 5;
}
.secondGraph {
  height: 300px;
  position: absolute;
  bottom: -1000px;
  width: 100%;
  z-index: 4;
}
 */
